
body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
}

.cell {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.alive {
    background-color: black;
}

.dead {
    background-color: whitesmoke;
}
